In [9]:
import pandas as pd

data = pd.read_csv("Runescape_Market_Data.csv")
data = data[data.columns[1:]]
data.head()

,PriceDate,Category,DateAdded,HighAlch,ItemName,LowAlch,MembersOnly,PriceChange,Price
0,1435042800,Miscellaneous,1319439600,600,Bagged plant 1,400,Yes,-20,1523
1,1434178800,Miscellaneous,1319439600,600,Bagged plant 1,400,Yes,-30,1538
2,1434956400,Miscellaneous,1319439600,600,Bagged plant 1,400,Yes,0,1543
3,1434092400,Miscellaneous,1319439600,600,Bagged plant 1,400,Yes,0,1568
4,1434870000,Miscellaneous,1319439600,600,Bagged plant 1,400,Yes,-24,1543

In [10]:
len(data)

3541613

In [11]:
timeDiff = max(data['PriceDate'])-min(data['PriceDate'])
timeDiff

115948800.0

In [20]:
print "Hours:",timeDiff/60.0/60#60 seconds in a minute, 60 in a hour
print "Days:",timeDiff/60.0/60/24
print "Weeks:",timeDiff/60.0/60/24/7
print "Years:",timeDiff/60.0/60/24/365.25

Hours: 32208.0
Days: 1342.0
Weeks: 191.714285714
Years: 3.67419575633

In [21]:
max(data['PriceChange'])

89962117

In [23]:
import numpy as np

len(np.unique(data['ItemName']))

2893